.post-container {
  display: flex;
  justify-content: center;
  font-family: "Lato", sans-serif;
  flex-direction: row;
  flex-wrap: wrap;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.post-container-big {
  margin-right: 90px;
  width: 400px;
  padding-bottom: 30px;
}

.newpost-container {
  display: flex;
  justify-content: center;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-flow: column;
  padding: 45px;
  color: black;
  text-align: center;
  background: #2d2d2d;
}

p {
  font-size: 15px;
}

.h2 {
  color: #2d2d2d;
}

.postOpen {
  max-height: 500px;
}

.post {
  width: 350px;
  text-align: center;
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #e7caadf0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #e7caadf0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: 0px 4px 10px RGBA(0, 0, 0, 20%);
  margin: 10px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  transition: 500ms all;
  padding: 20px;
  position: relative;
  user-select: none;
}

.post-big {
  width: 350px;
  text-align: center;
  background-color: white;
  box-shadow: 0px 4px 20px RGBA(0, 0, 0, 75%);
  margin: 10px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  user-select: none;
  display: flex;
  justify-content: center;
  height: 265px;
  z-index: 2;
}

.post:hover {
  transform: scale(1.01, 1.01);
  box-shadow: 0px 5px 8px RGBA(0, 0, 0, 15%);
}

.post-img {
  /*background-image: url("https://images.unsplash.com/photo-1542322332-224a7d1817d8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ec423f4506bf90019490eecda8345d8a&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb");*/
  background-position: center;
  background-size: 100%;
  height: 50%;
  display: flex;
  min-height: 100px;
}

body {
  margin: 0px;
  font-family: "Raleway", sans-serif;
}
.post-header {
  font-size: 30px;
}
.post-content {
  display: flex;
  margin-bottom: 3px;
  overflow: auto;
  align-items: flex-end;
  justify-content: center;
}
.blogghome-big {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-end;
  background-color: #1d1d1d;
  background-image: url("https://images.unsplash.com/photo-1548198073-328401ddd50a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.create-post-btn {
  display: flex;
  height: 25px;
}
a {
  border: 2px black;
  text-align: center;
}
.blogghome-container {
  width: 90%;
  margin: auto;
  transform: translateY(50px);
  color: #2d2d2d;
  background: #2d2d2d;
  box-shadow: 0px 10px 6px RGBA(1, 1, 1, 10%);
}
.blogghome-white-container {
  background: #818283;
  background: -moz-linear-gradient(top, #818283 22%, #7a6e6e 40%);
  background: -webkit-linear-gradient(top, #818283 22%, #7a6e6e 40%);
  background: linear-gradient(to bottom, #678099 22%, #d7d7d7 40%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ffffff',GradientType=0 );
}
.link {
  margin: 0 10px;
}
.navbar-container {
  display: flex;
  justify-content: center;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  right: 50%;
  left: 0;
  height: 70px;
  z-index: 1;
  padding-top: 20px;
}
.navbar-link-style {
  margin: 0 30px;
  padding: none;
  color: black;
  cursor: pointer;
  text-decoration: none;
  margin-top: 10px;
  font-size: 20px;
}
.a {
  display: flex;
  text-decoration: none;
  color: black;
  position: relative;
  top: 55px;
  right: 60px;
}
.btn-container {
  display: flex;
  line-height: 25px;
}
.link-style:hover {
  border-bottom: 2px White solid;
}

.nav-item {
  margin-right: 30px;
}
.post-spacer {
  height: 20px;
}
.dimmer {
  height: 70px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.66) 25%,
    hsla(0, 0%, 100%, 0.9) 45%,
    #fff 80%
  );
  display: flex;
  justify-content: center;
}
.read-more {
  display: flex;
  height: 18px;
  margin-top: 40px;
}
.title-input {
  display: flex;
  justify-content: center;
  width: 400px;
  transform: translatex(280px);
}
.post-content-body {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.post-body-wrapper {
  display: flex;
  justify-content: center;
}
.post-body {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  justify-content: center;
}

.post-publish-date {
  font-size: 8px;
}
